.maincontainer {
  min-height: 18rem;
  max-width: 100%;
  min-width: 100%;
}

.articleImage {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
}

.categoryName {
    font-size: 80px;
    color: white;
    text-align: center;
}
