.container_smallScreens {
    display: flex;
    color: var(--accents);
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.container_bigScreens {
  display: none;
}

.leftSide {
  color: var(--accents);
}

.rightSide {
  display: flex;
  gap: 1rem;
  color: var(--accents);
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2rem;
  }

  .container_smallScreens {
    display: none;
  }

  .container_bigScreens {
    color: var(--accents);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 2rem 3rem;
  }

  .rightSide {
    display: flex;
    gap: 1rem;
    color: var(--accents);
  }
}
